button.selected {
    background: lightblue;
    color: black;
}

button.selected.disabled_button {
    background-color: #00e119;
    color: black;
}

button.characters {
    min-height: 50px;
    min-width: 50px;
    font-size: 22px;
}

.select-level-btn {
    margin-bottom: 10px;
}

.select-difficulty-label {
    font-size: 48px;
    margin-bottom: 20px;
}

.word_hints_grid {
    margin-left: 20px;
}

.word_hint_label {
    margin-bottom: 20px;
    font-size: 32px;
}

.attempts_label {
    margin-bottom: 10px;
    font-size: 18px;
}

.timer_label {
    margin-bottom: 10px;
    font-size: 20px;
}

.label_strike {
    color: rgb(204, 204, 204);
    text-decoration: line-through;
}

.word_hint {
    margin-bottom: 10px;
    font-size: 24px;
}

.dialog {
    padding: 3rem;
}

.dialog_ok-btn {
    min-height: 40px;
    min-width: 50px;
    font-size: 20px;
    margin-right: 5px;
}

.dialog_cancel-btn {
    min-height: 40px;
    min-width: 50px;
    font-size: 20px;
    margin-left: 5px;
}

.game-over-label {
    font-size: 28px;
    margin-bottom: 20px;

}